.reveal h1 {
    font-size: 4em;
}

section[data-state="topic"] h2 {
    font-size: 3.5em;
}

.reveal h2 {
    text-transform: none;
}

.reveal h3 {
    text-transform: none;
}

.reveal section img {
    border: 0px;
    box-shadow: unset;
}

.reveal p {
    margin: 5px 0;
}

.reveal pre {
    width: 95%;
}

.small {
    font-size: 0.6em;
}

.reveal pre {
    width: 95%
}

.reveal pre code {
    font-size: 1.5em;
}

.reveal code {
    font-size: 1.0em;
    line-height: 1.1em;
}
